<!-- Validation failure messages -->
<% if @cart.errors.any? %>
  <% @cart.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Cart #<%= @cart.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_cart/<%= @cart.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @cart.user_id %>">
      </div>

      <!-- Label and input for cart_name -->
      <div class="form-group">
        <label for="cart_name" class="control-label">
          Cart name
        </label>

        <input type="text" id="cart_name" name="cart_name" placeholder="Cart name" class="form-control" value="<%= @cart.cart_name %>">
      </div>

      <button class="btn btn-warning">
        Update Cart
      </button>
      or
      <a href="/carts/<%= @cart.id %>">Cancel</a>
    </form>
  </div>
</div>
