<div class="page-header">
  <h3>Cart #<%= @cart.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @cart.user_id %></dd>

      <dt>Cart name</dt>
      <dd><%= @cart.cart_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/carts" class="btn btn-primary">
        Back
      </a>
      <a href="/carts/<%= @cart.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cart/<%= @cart.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
