<!-- Validation failure messages -->
<% if @vendor.errors.any? %>
  <% @vendor.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Vendor #<%= @vendor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_vendor/<%= @vendor.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vendor_name -->
      <div class="form-group">
        <label for="vendor_name" class="control-label">
          Vendor name
        </label>

        <input type="text" id="vendor_name" name="vendor_name" placeholder="Vendor name" class="form-control" value="<%= @vendor.vendor_name %>">
      </div>

      <button class="btn btn-warning">
        Update Vendor
      </button>
      or
      <a href="/vendors/<%= @vendor.id %>">Cancel</a>
    </form>
  </div>
</div>
