<div class="page-header">
  <h1>
    Follows
    <a href="/follows/new" class="btn btn-lg btn-success">New Follow</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Follower</th>
        <th>Following</th>
        <th>Actions</th>
      </tr>

      <% @follows.each do |follow| %>
      <tr>
        <td><%= follow.follower_id %></td>
        <td><%= follow.following_id %></td>
        <td>
          <a href="/follows/<%= follow.id %>" class="btn btn-primary">Show</a>
          <a href="/follows/<%= follow.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_follow/<%= follow.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
