<!-- Validation failure messages -->
<% if @follow.errors.any? %>
  <% @follow.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Follow</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_follow" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for follower_id -->
      <div class="form-group">
        <label for="follower_id" class="control-label">
        </label>

        <input type="hidden" id="follower_id" name="follower_id" placeholder="Follower" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for following_id -->
      <div class="form-group">
        <label for="following_id" class="control-label">
          Following
        </label>
        
        
        <!-- Still hoping to turn this into an autocomplete search-->
        <%= select_tag("following_id", options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
<!--
        <input list="user_emails" id="following_id" name="following_id" placeholder="Find a friend" class="form-control">
        <datalist id="user_emails">
          <% @users.each do |user| %>
            <option value="<%= user.id %>"><%= user.email %></option>
          <% end %>
        </datalist>
-->
      </div>
            
            
      <button class="btn btn-success">
        Create Follow
      </button>
      or
      <a href="/follows">Cancel</a>
    </form>
  </div>
</div>

