<div class="page-header">
  <h1>
    Items
    <a href="/items/new" class="btn btn-lg btn-success">New Item</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Item name</th>
        <th>Quantity wanted</th>
        <th>Item url</th>
        <th>Vendor</th>
        <th>Image url</th>

        <th>Actions</th>
      </tr>

      <% @items.each do |item| %>
      <tr>
        <td><a href=<%= item.item_url %>><%= item.item_name %></a></td>
        <td><%= item.quantity_wanted %></td>
        <td><a href=<%= item.item_url %>><%= item.item_url %></a></td>
        <td>na</td>
        <td>na</td>

        <td>
          <a href="/items/<%= item.id %>" class="btn btn-primary">Details</a>
          <a href="/items/<%= item.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
